@font-face {
    font-family: 'Static';
    src: url('Static-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Static';
    src: url('Static-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Static';
    src: url('Static-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Static';
    src: url('Static-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

